<a href="https://www.linkedin.com/in/tom%C3%A1s-barbieri-bedini-b3b9261b8/" target="_blank" class="bg-gray-700 text-purple-400 text-xs font-medium me-2 px-2.5 
            py-1 rounded-xl border border-purple-400 hover:scale-110 transition-transform">
    <slot />
</a>
