---
const { class: className, id } = Astro.props
---

<section id={id} 
         class={`${className} 
         mx-auto lg:w-[840px] py-[40px] px-5
         w-11/12
         backdrop-blur-sm 
         border-indigo-600 border-2
         my-10 rounded-3xl`}>
    <slot/>
</section>