---
import HtmlIcon from './icons/Stack/HtmlIcon.astro';
import CSSIcon from './icons/Stack/CSSIcon.astro';
import TailwindIcon from './icons/Stack/TailwindIcon.astro';
import JavaScriptIcon from './icons/Stack/JavaScriptIcon.astro';
import JavaIcon from './icons/Stack/JavaIcon.astro';
import CIcon from './icons/Stack/CIcon.astro';
import CppIcon from './icons/Stack/CppIcon.astro';
import NPMIcon from './icons/Stack/NPMIcon.astro';
import MySQLIcon from './icons/Stack/MySQLIcon.astro';
import SQLIcon from './icons/Stack/SQLIcon.astro';
import ScalaIcon from './icons/Stack/ScalaIcon.astro';
import RubyIcon from './icons/Stack/RubyIcon.astro';
import SpringIcon from './icons/Stack/SpringIcon.astro';
import GitIcon from './icons/Stack/GitIcon.astro';
import AstroIcon from './icons/Stack/AstroIcon.astro';
import HaskellIcon from './icons/Stack/HaskellIcon.astro';
---

<div class="grid justify-items-center justify-center gap-2 lg:gap-x-5 grid-cols-2 lg:grid-cols-4">
    <div class="order-0 row-span-2 mb-3">
        <h2 class="text-purple-400 text-center mb-2 font-semibold">Front End</h2>
        <div class="flex flex-col flex-wrap items-start w-full gap-y-3">
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <HtmlIcon class="size-8"/>
                <h3 class="text-center">HTML5</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <CSSIcon class="size-8"/>
                <h3 class="text-center">CSS3</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <TailwindIcon class="size-8"/>
                <h3 class="text-center">Tailwind CSS</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <JavaScriptIcon class="size-8"/>
                <h3 class="text-center">JavaScript</h3>
            </a>
        </div>
    </div>
    <div class="order-1 row-span-2 mb-3">
        <h2 class="text-purple-400 text-center mb-2 font-semibold">Back End</h2>
        <div class="flex flex-col flex-wrap items-start w-full gap-y-3">
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <RubyIcon class="size-8"/>
                <h3 class="text-center">Ruby</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <MySQLIcon class="size-8"/>
                <h3 class="text-center">MySQL</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <SQLIcon class="size-8"/>
                <h3 class="text-center">SQL Server</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <ScalaIcon class="size-8"/>
                <h3 class="text-center">Scala</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <JavaIcon class="size-8"/>
                <h3 class="text-center">Java</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <SpringIcon class="size-8"/>
                <h3 class="text-center">Spring</h3>
            </a>
        </div>
    </div>
    <div class="order-2 row-span-2 mb-3">
        <h2 class="text-purple-400 text-center mb-2 font-semibold">Lenguajes</h2>
        <div class="flex flex-col flex-wrap items-start w-full gap-y-3">
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <CIcon class="size-8"/>
                <h3 class="text-center">C</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <CppIcon class="size-8"/>
                <h3 class="text-center">C++</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <HaskellIcon class="size-8"/>
                <h3 class="text-center">Haskell</h3>
            </a>
        </div> 
    </div>
    <div class="order-3 row-span-2 mb-3">
        <h2 class="text-purple-400 text-center mb-2 font-semibold">Otros</h2>
        <div class="flex flex-col flex-wrap items-start w-full gap-y-3">
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <NPMIcon class="size-8"/>
                <h3 class="text-center">NPM</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <GitIcon class="size-8"/>
                <h3 class="text-center">Git</h3>
            </a>
            <a class="flex gap-2 items-center hover:scale-110 transition-transform cursor-default ">
                <AstroIcon class="size-8"/>
                <h3 class="text-center">Astro</h3>
            </a>
        </div> 
    </div>
    
    <!-- <a class="">
        <HtmlIcon class="size-12"/>
        <h2 class="text-center">HTML5</h2>
    </a>
    <a class="">
        <CSSIcon class="size-12"/>
        <h2 class="text-center">CSS3</h2>
    </a>
    <a class="">
        <TailwindIcon class="size-12"/>
        <h2 class="text-center">Tailwind CSS</h2>
    </a>
    <a class="">
        <JavaScriptIcon class="size-12"/>
        <h2 class="text-center">JavaScript</h2>
    </a> -->
    <!-- <a>
        <JavaIcon class="size-12"/>
        <h2 class="text-center">Java</h2>
    </a>
    <a>
        <CIcon class="size-12"/>
        <h2 class="text-center">C</h2>
    </a>
    <a>
        <CppIcon class="size-12"/>
        <h2 class="text-center">C++</h2>
    </a>
    <a>
        <NPMIcon class="size-12"/>
        <h2 class="text-center">NPM</h2>
    </a>
    <a>
        <MySQLIcon class="size-12"/>
        <h2 class="text-center">MySQL</h2>
    </a>
    <a>
        <SQLIcon class="size-12"/>
        <h2 class="text-center">SQL Server</h2>
    </a>
    <a>
        <ScalaIcon class="size-12"/>
        <h2 class="text-center">Scala</h2>
    </a>
    <a>
        <RubyIcon class="size-12"/>
        <h2 class="text-center">Ruby</h2>
    </a>
    <a>
        <SpringIcon class="size-12"/>
        <h2 class="text-center">Spring</h2>
    </a>
    <a>
        <GitIcon class="size-12"/>
        <h2 class="text-center">Git</h2>
    </a>
    <a>
        <AstroIcon class="size-12"/>
        <h2 class="text-center">Astro</h2>
    </a> -->
</div>

